node_modules/

out/
dist/
*.tgz

coverage/
*.lcov

logs/
*.log

.env.development.local
.env.test.local
.env.production.local
.env.local

.eslintcache/
.cache/
*.tsbuildinfo

.idea/
.vscode/

trash/

.DS_Store/
